.cardcontainer{
    width: 350px;
    height: min-content;
    background-color: rgb(179, 171, 171);
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    border-radius: 10px;
}
.cardcontainer:hover{
    box-shadow: 0 0 45px gray;
}
.photo{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.photo img{
    height: 100%;
    width: 100%;
}

.content{
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    cursor:default;
    display: flex;
    flex-direction: column;
    .valoration{
        font-size: smaller;
    }
}
.photos{
    width: 90px;
    height: 30px;
    background-color: #E74C3C;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px;
}
.txt4{
    font-size:27px;
    position: relative;
    top: 33px;
    font-weight: bold;
}

