body {
    background-color: #111;
    h1{
        color:white;
    }
    h2{
        color:white;
    }
    h3{
        color:rgb(128, 119, 119);
    }
    h4{
        color:rgb(128, 119, 119);
    }
    h5{
        color:white;
    }
    h6{
        color:white;
    }
}